<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="../public/css/news.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
button {
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.news-container {
    display: grid;
    grid-gap: 20px;
}

.news-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.source, .author {
    color: #666;
}

.description {
    margin-top: 5px;
}

.content-truncated {
    margin-bottom: 10px;
}

.read-more {
    color: #007bff;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 50px;
}

    </style>
</head>
<body>
<div class="container">
    <h1>News</h1>

    <div id="newsResults" class="news-container">
        <% articles.forEach((article, index) => { %>
            <div class="news-item">
                <h2><%= article.title %></h2>
                <p class="source">Source: <%= article.source %></p>
                <p class="author">Author: <%= article.author ? article.author : 'Unknown' %></p>
                <p class="description">Description: <%= article.description %></p>
                <div class="content-container" id="content<%= index %>">
                    <p class="content-truncated">truncateContent<%= (article.content) %></p>
                    <p class="read-more" onclick="toggleContent('<%= index %>')">Read more</p>
                    <p class="full-content" style="display: none;"><%= article.content %></p>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<footer style="position: fixed; bottom: 0; right: 0; padding: 10px;">
    <p>© Rakhat Ospanov, SE-2201</p>
</footer>

<script src="../public/js/news.js"></script>
</body>
</html>
